<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razor Fun</title>
</head>
<body>
    <h1>Here are some delicious foods!</h1>
@{
    var StringList = new List<string>
        {
            "Apple Pie",
            "Burritos",
            "Cheesecake",
            "Donuts"
        };
        foreach (var word in StringList)
        {
            <div>
                <p>@word</p>
            </div>
        }
}
</body>
</html>